<footer id="footer">

    <div class="footer-top">
        <div class="container">
            <div class="row">

                <div class="col-lg-4 col-md-6 footer-contact">
                    <h3>OnMed</h3>
                    <p>
                        OnMed một nền tảng kết nối giữa bác sĩ và bệnh nhân, giúp bệnh nhân dễ dàng đặt lịch hẹn khám bệnh.
                    </p>
                </div>

                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>Truy cập nhanh</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a href="/home/index">Trang chủ</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="/home/khoa">Khoa</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="/home/bacsi">Bác sĩ</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="/home/dichvu">Dịch vụ</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="/home/lienhe">Liên hệ</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Đặt lịch khám</a></li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>Địa chỉ</h4>
                    <p>
                        Nhà không số <br>
                        Phố không tên<br>
                        Việt Nam <br><br>
                    </p>
                </div>

                <div class="col-lg-2 col-md-6 footer-newsletter">
                    <h4>Liên hệ</h4>
                    <p>
                        <strong>Phone:</strong> 0909 0909<br>
                        <strong>Email:</strong> onmed@gmail.com<br>
                    </p>
                </div>

            </div>
        </div>
    </div>

    <div class="container d-md-flex py-4">

        <div class="me-md-auto text-center text-md-start">
            <div class="copyright">
                &copy; Copyright <strong><span>OnMed.</span></strong>
            </div>
            <div class="credits">
                <!-- All the links in the footer should remain intact. -->
                <!-- You can delete the links only if you purchased the pro version. -->
                <!-- Licensing information: https://bootstrapmade.com/license/ -->
                <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/medilab-free-medical-bootstrap-theme/ -->
            </div>
        </div>
        <div class="social-links text-center text-md-right pt-3 pt-md-0">
            <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
            <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
            <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
            <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
            <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
        </div>
    </div>
</footer><!-- End Footer -->
