<section id="quytrinh" class="quytrinh section-bg">
    <div class="container">
        <div class="section-title">
            <h2>Quy trình đặt lịch khám bệnh Online</h2>
        </div>
        <ul class="timeline">
          
            <li>
                <div class="direction-l">
                    <div class="flag-wrapper">
                        <span class="flag">Bước 1</span>
                        <span class="time-wrapper"><span class="time">Đặt lịch khám</span></span>
                    </div>
                    <div class="desc">Đăng nhập phần mềm trên website.</div>
                    <div class="desc">Chọn đặt lịch khám.</div>
                    <div class="desc">Điền thông tin bệnh nhân.</div>
                    <div class="desc">Chọn chuyên khoa, dịch vụ, bác sĩ.</div>
                </div>
            </li>

            <li>
                <div class="direction-r">
                    <div class="flag-wrapper">
                        <span class="flag">Bước 2</span>
                        <span class="time-wrapper"><span class="time">Xác nhận lịch khám</span></span>
                    </div>
                    <div class="desc">Sau khi đăng ký thành công, Đơn đăng ký sẽ được gửi đến bác sĩ.</div>
                    <div class="desc">Khi đơn được duyệt, phiếu khám điện tử sẽ được gửi đến email người đăng ký đồng thời cập nhật trên hện thống.</div>
                    <div class="desc">Sau khi đăng ký thành công, Đơn đăng ký sẽ được gửi đến bác sĩ.</div>
                </div>
            </li>

            <li>
                <div class="direction-l">
                    <div class="flag-wrapper">
                        <span class="flag">Bước 3</span>
                        <span class="time-wrapper"><span class="time">khám bệnh</span></span>
                    </div>
                    <div class="desc">My first employer. All the stuff I've learned and projects I've been working on.</div>
                    <div class="desc">My first employer. All the stuff I've learned and projects I've been working on.</div>
                    <div class="desc">My first employer. All the stuff I've learned and projects I've been working on.</div>

                </div>
            </li>

            <li>
                <div class="direction-r">
                    <div class="flag-wrapper">
                        <span class="flag">Bước 4</span>
                        <span class="time-wrapper"><span class="time">Nhận thuốc</span></span>
                    </div>
                    <div class="desc">A description of all the lectures and courses I have taken and my final degree?</div>
                </div>
            </li>
            <li>
                <div class="direction-l">
                    <div class="flag-wrapper">
                        <span class="flag">Bước 5</span>
                        <span class="time-wrapper"><span class="time">Thanh toán</span></span>
                    </div>
                    <div class="desc">My first employer. All the stuff I've learned and projects I've been working on.</div>
                </div>
            </li>

            <li>
                <div class="direction-r">
                    <div class="flag-wrapper">
                        <span class="flag">Bước 6</span>
                        <span class="time-wrapper"><span class="time">Hẹn lịch tái khám</span></span>
                    </div>
                    <div class="desc">A description of all the lectures and courses I have taken and my final degree?</div>
                </div>
            </li>

        </ul>
    </div>  
</section>
